#displayArea {
  padding-top: 50px;
}

#searchRow {
  padding-top: 10px;
}

.heading {
  font-size: 1.5em;
}

table {
  border: 2px solid black;
  width: 100%;
}

td {
  border: 2px solid black;
  font-size: 1.3em;
  min-height: 20px;
}

th {
  border: 2px solid black;
  font-size: 1.5em;
  text-align: center;
}

tr {
}
