/* FROM THE BOL PART */
#addressInfo {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black; }
  #addressInfo p {
    line-height: 1.5em; }

#header {
  border: 2px solid black; }

#orderInfo table tr {
  height: 20px; }

#refnums {
  border-left: 2px solid black; }

#signatures div {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  min-height: 120px; }

#specialInstructions {
  border-bottom: 2px solid black;
  min-height: 60px; }

.bolTable th {
  font-size: 12px;
}

.bolTable tr {
  font-size: 10px;
}

.LRborder {
  border-left: 2px solid black;
  border-right: 2px solid black; }

.smallest {
  font-size: 7px; }

small {
  font-size: 9px;
}

/*END BOL PART */

#displayArea {
  padding-top: 30px;
  margin-bottom: 50px;
}

#errorArea {
  color: red;
  font-weight: bold;
  margin-top: 8px;
}

#searchForm {
  text-align: center;
}

#searchRow {
  padding-top: 10px;
}

.heading-font {
  font-size: 1.5em;
}

table {
  border: 2px solid black;
  width: 100%;
}

td {
  border: 2px solid black;
  font-size: 1.3em;
  min-height: 20px;
}

th {
  border: 2px solid black;
  font-size: 1.5em;
  text-align: center;
}
